In [1]:
# setting
import pandas as pd
from pandasql import sqldf
data = pd.read_csv('./data.csv')

#### 특정 컬럼에 존재하는 결측값 확인

In [2]:
# pandas
data['rating'].isnull().sum()

4

In [3]:
# SQL
query = \
'''
SELECT COUNT(CASE WHEN rating IS NULL THEN 1 
             END) as rating_null
FROM data 
'''
sqldf(query)

   rating_null
0            4

#### 특정 컬럼에서 결측값이 존재하는 경우 확인

In [4]:
# pandas
data[data['rating'].isna()]

,show_id,type,title,director,country,date_added,release_year,rating,duration
5989,s5990,Movie,13TH: A Conversation with Oprah Winfrey & Ava ...,NaN,NaN,"January 26, 2017",2017,NaN,37 min
6827,s6828,TV Show,Gargantia on the Verdurous Planet,NaN,Japan,"December 1, 2016",2013,NaN,1 Season
7312,s7313,TV Show,Little Lunch,NaN,Australia,"February 1, 2018",2015,NaN,1 Season
7537,s7538,Movie,My Honor Was Loyalty,Alessandro Pepe,Italy,"March 1, 2017",2015,NaN,115 min

In [5]:
# SQL
query = \
'''
SELECT * 
FROM data
WHERE rating IS NULL 
'''
sqldf(query)

,show_id,type,title,director,country,date_added,release_year,rating,duration
0,s5990,Movie,13TH: A Conversation with Oprah Winfrey & Ava ...,None,None,"January 26, 2017",2017,None,37 min
1,s6828,TV Show,Gargantia on the Verdurous Planet,None,Japan,"December 1, 2016",2013,None,1 Season
2,s7313,TV Show,Little Lunch,None,Australia,"February 1, 2018",2015,None,1 Season
3,s7538,Movie,My Honor Was Loyalty,Alessandro Pepe,Italy,"March 1, 2017",2015,None,115 min

#### 특정 컬럼에서 결측값이 없는 경우 확인

In [6]:
# pandas
data[~data['rating'].isna()]

,show_id,type,title,director,country,date_added,release_year,rating,duration
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,United States,"September 25, 2021",2020,PG-13,90 min
1,s2,TV Show,Blood & Water,NaN,South Africa,"September 24, 2021",2021,TV-MA,2 Seasons
2,s3,TV Show,Ganglands,Julien Leclercq,NaN,"September 24, 2021",2021,TV-MA,1 Season
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season
4,s5,TV Show,Kota Factory,NaN,India,"September 24, 2021",2021,TV-MA,2 Seasons
...,...,...,...,...,...,...,...,...,...
8802,s8803,Movie,Zodiac,David Fincher,United States,"November 20, 2019",2007,R,158 min
8803,s8804,TV Show,Zombie Dumb,NaN,NaN,"July 1, 2019",2018,TV-Y7,2 Seasons
8804,s8805,Movie,Zombieland,Ruben Fleischer,United States,"November 1, 2019",2009,R,88 min
8805,s8806,Movie,Zoom,Peter Hewitt,United States,"January 11, 2020",2006,PG,88 min
8806,s8807,Movie,Zubaan,Mozez Singh,India,"March 2, 2019",2015,TV-14,111 min

In [7]:
# SQL
query = \
'''
SELECT * 
FROM data
WHERE rating IS NOT NULL 
'''
sqldf(query)

,show_id,type,title,director,country,date_added,release_year,rating,duration
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,United States,"September 25, 2021",2020,PG-13,90 min
1,s2,TV Show,Blood & Water,None,South Africa,"September 24, 2021",2021,TV-MA,2 Seasons
2,s3,TV Show,Ganglands,Julien Leclercq,None,"September 24, 2021",2021,TV-MA,1 Season
3,s4,TV Show,Jailbirds New Orleans,None,None,"September 24, 2021",2021,TV-MA,1 Season
4,s5,TV Show,Kota Factory,None,India,"September 24, 2021",2021,TV-MA,2 Seasons
...,...,...,...,...,...,...,...,...,...
8798,s8803,Movie,Zodiac,David Fincher,United States,"November 20, 2019",2007,R,158 min
8799,s8804,TV Show,Zombie Dumb,None,None,"July 1, 2019",2018,TV-Y7,2 Seasons
8800,s8805,Movie,Zombieland,Ruben Fleischer,United States,"November 1, 2019",2009,R,88 min
8801,s8806,Movie,Zoom,Peter Hewitt,United States,"January 11, 2020",2006,PG,88 min
8802,s8807,Movie,Zubaan,Mozez Singh,India,"March 2, 2019",2015,TV-14,111 min